body{
    background: lightgreen !important;
}

#registerform{
    border: 8px groove red;
    margin: 0px;
    padding: 25px;
}


#result1,#result2,#result3{
    display: none;
}

.box{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
}